<html>
<head>
    <title>GrassChain</title>
    <!-- Custom styles for this template -->
    <link href="stylesheets/agency.css" rel="stylesheet">
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <link href="stylesheets/font-awesome.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="stylesheets/font.css">
</head>

<body style="font-family: 'Nanum Square'">
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style=" background-color: rgba(10,19,10, 0.8)">
    <a class="navbar-brand" href="/"><img src="images/GrassChainLogoSlim.png" width="auto" height="65" style="margin-top:9px"/></a>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#new">New GSC</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-target="#trackPage" data-toggle="modal">Track GSC</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-target="#verifyPage" data-toggle="modal">Verify GSC</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-target="#purchasePage" data-toggle="modal">Purchase</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-target="#qrPage" data-toggle="modal">QR Code Tool</a>
            </li>
        </ul>
    </div>
</nav>

<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div style="background-color:rgba(10, 10, 10, 0.7); padding : 3%; height : 450px; width : 100%" >
                <div class="intro-heading"><img src="images/GrassChainLogo.png" style="margin-top: 10px; width: 60%"/></div>
                <h1 style="margin-top:1%">Welcome to GrassChain Beta Page!</h1>
                <h5 style="margin-top:1%" class="text-danger">NOTE : You need Metamask Wallet(or CIPHER Browser) with Ropsten Testnet.</h5>
            </div>
        </div>
    </div>
</header>

<section id = new style="background-color: white; align-items: center">
    <div class="col-lg-12 text-center">
        <h2 class="section-heading" style="text-transform:none; font-size:55px">Create New GSC<br><span style="font-size: 20px">(GrassChain Supply Contract)</span></h2>
        <h3 class="section-subheading text-muted">GrassChain Supply Contract를 바로 생성해보세요. 투명하고, 안전합니다!</h3>
    </div>

    <fieldset style="width:70%; margin-left: 15%; margin-right: 15%; background-color: whitesmoke; border: 5px solid green; border-radius: 10px; padding: 30px; font-family: 'Nanum Square'">
        <h1 style="text-align: center; font-weight:700; margin-top:5%; margin-bottom: 5%">GSC 표준 계약서</h1>
        <label> <span style="font-size:20px; font-weight:700">공급망 주소 목록</span> <br> 형식 : 0x123,0xaba,...<br>
            <input class="form-control" style="width:500%; max-width: 500px" type="text" id="addrList">
        </label><br><br>
        <label> <span style="font-size:20px; font-weight:700">판매 대금 분배 비율</span> <br> 형식 : 10,20,50,...<br>
            <input class="form-control" style="width:500%; max-width: 500px" type="text" id="distList">
        </label><br><br>
        <label> <span style="font-size:20px; font-weight:700">생산자 담보(Deposit) 금액</span> <br>
            <input class="form-control" style="width:100%; max-width: 500px" type="text" id="deposit">Ether
        </label><br><br>
        <label> <span style="font-size:20px; font-weight:700">소비자 지불 예정 금액</span> <br>
            <input class="form-control" style="width:115%; max-width: 500px" type="text" id="value">Ether
        </label><br><br><br><br>

        <button class="btn btn-xl" onclick="create()" style="height : 50px; width:30%; margin-left: 35%; margin-right: 35%">Create GSC!</button><br><br>

        <label> <span style="font-size:20px; font-weight:700">Result</span>
        </label>
        <div class="form-control" style="height: 100px; overflow: scroll" id="response"></div>
    </fieldset>
</section>

<section id="services" style="background-color: rgb(240, 240, 240)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" style="text-transform:none; font-size:55px">GrassChain Apps</h2>
                <h3 class="section-subheading text-muted">Various GrassChain-based Apps!</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
            <span class="fa-stack fa-4x" data-target="#trackPage" data-toggle="modal">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-chain fa-stack-1x fa-inverse" style="background-color:limegreen; border-radius:50%"></i>
            </span>
                <h2 class="service-heading" data-target="#trackPage" data-toggle="modal"><button class="btn btn-app" data-target="#trackPage" data-toggle="modal">Track</button></h2>
                <p class="text-muted">GSC를 추적해보세요! 가장 투명한 유통 기록입니다.<br>Ethereum 블록체인 플랫폼을 기반으로 운영됩니다.</p>
            </div>

            <div class="col-md-4">
            <span class="fa-stack fa-4x" data-target="#verifyPage" data-toggle="modal">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-check-square-o fa-stack-1x fa-inverse" style="background-color:limegreen; border-radius:50%;"></i>
            </span>
                <h2 class="service-heading" data-target="#verifyPage" data-toggle="modal"><button class="btn btn-app" data-target="#verifyPage" data-toggle="modal">Verify</button></h2>
                <p class="text-muted">중간 유통자라면, 유통 단계를 마치고 인증하세요!<br>소비자의 결제 직후 유통 수수료가 분배됩니다.</p>
            </div>

            <div class="col-md-4">
            <span class="fa-stack fa-4x" data-target="#purchasePage" data-toggle="modal">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-credit-card fa-stack-1x fa-inverse" style="background-color:limegreen; border-radius:50%"></i>
            </span>
                <h2 class="service-heading" data-target="#purchasePage" data-toggle="modal"><button class="btn btn-app" data-target="#purchasePage" data-toggle="modal">Purchase</button></h2>
                <p class="text-muted">GSC를 통해 농산물을 구매하려면 바로 결제하세요!<br>Metamask 지갑의 Ether로 결제할 수 있습니다.</p>
            </div>
        </div>
        <div class="row text-center" style="margin-top:5%">
            <div class="col-md-4">
            <span class="fa-stack fa-4x" data-target="#qrPage" data-toggle="modal">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-qrcode fa-stack-1x fa-inverse" style="background-color:limegreen; border-radius:50%"></i>
            </span>
                <h2 class="service-heading" data-target="#qrPage" data-toggle="modal"><button class="btn btn-app" data-target="#qrPage" data-toggle="modal">QR Code</button></h2>
                <p class="text-muted">GSC 태그의 QR 코드를 출력할 수 있는 툴입니다.<br>다양한 정보를 담은 태그를 인쇄할 수 있습니다.</p>

            </div>
            <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-question fa-stack-1x fa-inverse" style="background-color:limegreen; border-radius:50%"></i>
            </span>
                <h2 class="service-heading">Next GrApp</h2>
                <p class="text-muted">What's next GrassChain APP?<br>Coming Soon!</p>
            </div>
        </div>

        <h1 id="gscCounter" style="text-align: center; margin-top: 100px">현재 총 @개의 GSC가 생성되었습니다.</h1>

        <h1 id="grcCounter" style="text-align: center; margin-top: 100px">당신의 GrassCoin 잔고 : @ GRC</h1>
    </div>


    <div class="modal fade" id="trackPage">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- header -->
                <div class="modal-header">
                    <h4 class="modal-title">GSC Tracker</h4>
                    <button class="btn btn-xl" onclick="track()">Track GSC!</button>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <!-- body -->
                <div class="modal-body">
                    <fieldset style="width:100%; margin-left: 0%; margin-right: 0%; background-color: whitesmoke; border: 5px solid green; border-radius: 10px; padding: 20px; font-family: 'Nanum Square'">
                        <label> <span style="font-size:20px; font-weight:700">GSC ID</span>
                            <input class="form-control" type="text" id="trackID">
                        </label><br>

                        <label> <span style="font-size:20px; font-weight:700">Result</span></label>
                        <div class="form-control" style="height: 470px; overflow: scroll; word-break: break-all" id="trackResponse"></div>

                    </fieldset>
                </div>
                <!-- Footer -->
            </div>
        </div>
    </div>
    <div class="modal fade" id="verifyPage">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- header -->
                <div class="modal-header">
                    <h4 class="modal-title">GSC Verify</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <!-- body -->
                <div class="modal-body">
                    <fieldset style="width:100%; margin-left: 0%; margin-right: 0%; background-color: whitesmoke; border: 5px solid green; border-radius: 10px; padding: 30px; font-family: 'Nanum Square'">
                        <label> <span style="font-size:20px; font-weight:700">GSC ID</span> <br>
                            <input class="form-control" style="width:150px" type="text" id="verifyID">
                        </label><br><br>
                        <label> <span style="font-size:20px; font-weight:700">특이 사항</span> <br>
                            <input class="form-control" style="width:150px" type="text" id="flag">[ 0 : 문제없음 / 1 : 문제 발생 / 2 : 거래 취소 ]
                        </label><br><br><br>

                        <button class="btn btn-xl" onclick="verify()" style="height : 50px; width:30%; margin-left: 35%; margin-right: 35%">Verify GSC!</button><br>
                        <label class="text-danger">본인이 취급한 상품의 유통 단계 완료를 인증함. 취소 불가능.</label>
                        <br><br>

                        <label> <span style="font-size:20px; font-weight:700">Result</span>
                        </label>
                        <div class="form-control" style="height: 100px; overflow: scroll" id="verifyResponse"></div>
                    </fieldset>
                </div>
                <!-- Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="purchasePage">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- header -->
                <div class="modal-header">
                    <h4 class="modal-title">GSC Payment</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <!-- body -->
                <div class="modal-body">
                    <fieldset style="height:80%; width:100%; margin-left: 0%; margin-right: 0%; background-color: whitesmoke; border: 5px solid green; border-radius: 10px; padding: 30px; font-family: 'Nanum Square'">
                        <label> <span style="font-size:20px; font-weight:700">GSC ID</span><br>
                           <input class="form-control" style="width:150px" type="text" id="payID">
                        </label><br><br>
                        <label> <span style="font-size:20px; font-weight:700">Price(ether) </span><button class="btn btn-xl" onclick="payCheck()">Check</button> </label><br>
                        <div class="form-control" style="height: 40px; overflow: scroll" id="Gprice"></div>

                        <br><br><button class="btn btn-xl" onclick="pay()" style="height : 50px; width:30%; margin-left: 35%; margin-right: 35%">Purchase!</button><br><br>

                        <label> <span style="font-size:20px; font-weight:700">Result</span>
                        </label>
                        <div class="form-control" style="height: 40%; overflow: scroll" id="payResponse"></div>
                    </fieldset>
                </div>
                <!-- Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="qrPage">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- header -->
                <div class="modal-header">
                    <h4 class="modal-title">QR Code Tool</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <!-- body -->
                <div class="modal-body">
                    <fieldset style="width:100%; margin-left: 0%; margin-right: 0%; background-color: whitesmoke; border: 5px solid green; border-radius: 10px; padding: 30px; font-family: 'Nanum Square'">
                        <label> <span style="font-size:20px; font-weight:700">GSC ID</span><br>
                            <input class="form-control" style="width:150px" type="text" id="qrID">
                        </label><br><br>

                        <button class="btn btn-xl" onclick="createTag()" style="height : 50px; width:50%; margin-left: 25%; margin-right: 25%">Create Tag</button><br><br>

                        <label> <span style="font-size:20px; font-weight:700">QR Code GSC Tag</span>
                        </label>
                        <div id = tag>
                        <div class="form-control" style="height: 230px; overflow: hidden; width:390px">
                            <div id="qrcode" style="width:100px; height:100px; margin-top:5px; display: inline-block"></div>
                            <div style="display: inline-block">
                                <img src="images/GrassChainLogo.png" style="height: 70px; width: auto;margin-left:16%; margin-top: -50%">
                            </div>
                            <div id = "qrResponse" style="border-top: 2px solid limegreen; padding:5%; width:370px">
                            </div>
                        </div>
                        </div>

                        <br><button class="btn btn-xl" onclick="printTag()" style="height : 35px; width:50%; margin-left: 25%; margin-right: 25%">Print Tag</button>
                    </fieldset>
                </div>
                <!-- Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Bootstrap core JavaScript -->
<script src="javascripts/jquery.js"></script>
<script src="javascripts/popper.js"></script>
<script src="javascripts/bootstrap.js"></script>
<script src="javascripts/grasschain.js"></script>

<!-- Plugin JavaScript -->
<script src="javascripts/jquery.js"></script>
<script src="javascripts/qrcode.js"></script>

<!-- Custom scripts for this template -->
<script src="javascripts/agency.js"></script>

</body>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; 2018 GrassChain by Haryun<br />Designed by Haryun Shin</span>
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li class="list-inline-item">
                        <a>Privacy Policy</a>
                    </li>
                    <li class="list-inline-item">
                        <a>Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</html>