<html>
<head>
    <title>GrassChain</title>
    <!-- Custom styles for this template -->
    <link href="stylesheets/agency.css" rel="stylesheet">
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <link href="stylesheets/font-awesome.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="stylesheets/font.css">
</head>
<body>
<div id="trackPage">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- header -->
            <div class="modal-header">
                <h4 class="modal-title">GSC Tracker</h4>
                <button class="btn btn-xl" onclick="track()" onload="track()">Track GSC!</button>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <!-- body -->
            <div class="modal-body">
                <fieldset style="width:100%; margin-left: 0%; margin-right: 0%; background-color: whitesmoke; border: 5px solid green; border-radius: 10px; padding: 20px; font-family: 'Nanum Square'">
                    <label> <span style="font-size:20px; font-weight:700">GSC ID</span>
                        <input class="form-control" type="text" id="trackID" placeholder="2">
                    </label><br>

                    <label> <span style="font-size:20px; font-weight:700">Result</span></label>
                    <div class="form-control" style="height: 470px; overflow: scroll; word-break: break-all" id="trackResponse"></div>

                </fieldset>
            </div>
            <!-- Footer -->
        </div>
    </div>
</div>
</body>

<!-- Bootstrap core JavaScript -->
<script src="javascripts/jquery.js"></script>
<script src="javascripts/popper.js"></script>
<script src="javascripts/bootstrap.js"></script>
<script src="javascripts/grasschain.js"></script>

<!-- Plugin JavaScript -->
<script src="javascripts/jquery.js"></script>
<script src="javascripts/qrcode.js"></script>

<!-- Custom scripts for this template -->
<script src="javascripts/agency.js"></script>

</html>